@{
    ViewData["Title"] = "Contact";
}

<head>
    <link href="/css/bootstrap-grid.css" type="text/css" rel="stylesheet" />
</head>

<div class="container">
    <div class="jumbotron">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="container">
    <address>
        Randy Willey<br />
        Land O Lakes, FL 34638<br />
        <abbr title="Email">E:</abbr>
        randy.willey@smail.rasmussen.edu
    </address>
</div>
