@model MediaCatalog.Models.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<head>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="/css/bootstrap-grid.css" type="text/css" rel="stylesheet" />
</head>

<div class="container">
    <address>
        Randy Willey<br />
        Land O Lakes, FL 34638<br />
        <abbr title="Email">E:</abbr>
        randy.willey@smail.rasmussen.edu
    </address>
</div>