@{ 
    ViewData["Title"] = "Media Catalog";
}

<head>
    <link href="/css/bootstrap-grid.css" type="text/css" rel="stylesheet" />
</head>

<div class="container">
    <div class="jumbotron">
        <h2>Media Catalog</h2>
    </div>
</div>

<div class="container">
    <p>Use this media catalog to store information related to your media collection, including 
        music, videos, and more. Click "Library" above to get started or to access your existing
        library.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm" align="center">
            <img src="/images/Music.png" height="85" width="85" />
        </div>
        <div class="col-sm" align="center">
            <img src="/images/Video.png" height="85" width="85" />
        </div>
        <div class="col-sm" align="center">
            <img src="/images/AudioBook.png" height="85" width="85" />
        </div>
    </div>
</div>

