@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Randy Willey<br />
    Land O Lakes, FL 34638<br />
    <abbr title="Email">E:</abbr>
    randy.willey@smail.rasmussen.edu
</address>

